.gradle/*
.idea/*
sevame/build/*
*.iml
local.properties
build/*
sevame/*

#Ignore release and build files
sevame/src/release/
sevame/src/main/bin/
sevame/src/main/.settings/
sevame/src/main/.project
sevame/src/main/.classpath
sevame/src/main/libs/
sevame/src/main/project.properties
